# Dynamic Visualization with Plotly

In [2]:
import plotly 
plotly.tools.set_credentials_file(username='chimakurthi.l', api_key='AOTstKtQZRF8yaDQ3FLs')
import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks

In [11]:
data= pd.read_csv("./prices.csv")

In [12]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [ ]:
Here we choose date as the key and the rest of the columns as the values 
As only the date column is unique

# APPLE STOCK PRICE ANALYSIS

In [ ]:
The task for this dataset is to 
Analyze the variations of Apple Stocks over the years 2010-2016

In [13]:
# filter the data with appl stocks 
df= data[data['symbol']=='AAPL']

In [14]:
df = df.set_index("date")

In [15]:
df.head()

           symbol        open       close         low        high       volume
date
2010-01-04   AAPL  213.429998  214.009998  212.380001  214.499996  123432400.0
2010-01-05   AAPL  214.599998  214.379993  213.249994  215.589994  150476200.0
2010-01-06   AAPL  214.379993  210.969995  210.750004  215.230000  138040000.0
2010-01-07   AAPL  211.750000  210.580000  209.050005  212.000006  119282800.0
2010-01-08   AAPL  210.299994  211.980005  209.060005  212.000006  111902700.0

# T-1 AApl Stock open and close analysis

In [56]:
trace_high = go.Scatter(
    x=df.index,
    y=df['high'],
    name = "AAPL High",
    line = dict(color = 'black'),
    opacity = 0.8)

trace_low = go.Scatter(
    x=df.index,
    y=df['low'],
    name = "AAPL Low",
    line = dict(color = 'lightblue'),
    opacity = 0.8)

data = [trace_high,trace_low]

layout = dict(
    title='Apple High -low Prices ',
    xaxis=dict(
        title='years',
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
    yaxis = dict(title='Price')
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "AAPl Stock open-close Analysis")

The above plot is a line chart which visualizes the apple stock prices (highest price for the day) 
and also the lowest price for the day over the years.
This shows how prices vary over the time. However the stockprices had an increasing trend 
but there exists a steep in the mid of 2014.

The line chart is the best ever way to describe a time series data - to get the trend insight 

The tooltip show the interactive values while hovering on specific point on the graph.

Here the high and low are prices are encoded using the color attribute.
The Open price is shown by black and close price is the light blue 

The visualization also includes a range slider which can be zoomin and zoomout for a detailed view 
for a specific span of time.

This visualization is useful to ask how the stock price is varied in a day(high-low) over the years.

# Task-2

In [57]:
from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Scatter(
    x=df.index,
    y=df['open'],
    name = "AAPL open",
    fill='tozeroy'
)
trace2 = go.Scatter(
    x=df.index,
    y=df['close'],
    name = "AAPL Close",
    fill='tonexty'
    
)

fig = tools.make_subplots(rows=2, cols=1, specs=[[{}], [{}]],
                          shared_xaxes=True, shared_yaxes=True,
                          vertical_spacing=0.1, subplot_titles=('AAPL open', 
                          'AAPL Close'))

fig.append_trace(trace1, 2, 1)
fig.append_trace(trace2, 1, 1)

fig['layout'].update(height=600, width=600, title='AAPL Open & Close Prices')
py.plot(fig, filename='subplots-shared-xaxes')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x1,y2 ]

'https://plot.ly/~chimakurthi.l/8'

In [ ]:
Another type of visualization inspired from the visualization zoo article is the area charts with the shared axes.
Below plot is an area plot with different areas for different attributes of the data.

Here visualization depicts both closing and opening price using seperate area charts over the same time.(
Hence they share the x-axis)
This plot is useful only when individual components are to be analyzed which are scaled on the common axes.